[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PNADCperiods"]
	path = PNADCperiods
	url = https://github.com/antrologos/pnadcperiods
